tests/
.DS_Store
.env
docker-compose.override.yml
*.zip
settings.json
*.log
node_modules/
dist/
build/
coverage/
*.bak
*.tmp
*.swp
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
__pycache__/
*.pyc
*.pyo
